extends ../includes/auth/layout-auth

block content
  form(action="/signup" method="post" onsubmit="return validateForm();")
    img.logo(src="/images/auth/khoway.png", alt="", srcset="")
    div.title !{app.NAME}
    div.sub-title !{title}
    
    div.fields
      div.phone
        input#phone(type="tel" name="phone" pattern="[+,0][1-9]{1}[0-9]{1,2}[0-9]{4,12}" autocomplete="off" required autofocus)
      div.username
        input#username(type="text" name="username" placeholder="username" autocomplete="off" required)
      div.password
        input#password(type="password" name="password" placeholder="password" required)
    
    button.signin-button(type="submit") 
      span.fa.fa-sign-in-alt
      | &nbsp; !{buttonText}
    
    div.link
      a(href="/login") If you already have account? 
        span Sign In
  
  script.
