<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 - Page Not Found</title>
    <!-- Google font -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="/images/auth/khoway-2.png"
    />
    <link href="../assets/404/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>😛</h1>
        </div>
        <h2>
          404 - Page Not Found :
          <small
            >The page you are looking for might have been removed or is
            temporarily unavailable.
          </small>
        </h2>
        <a href="/">Dashboard</a>
        <a href="https://github.com/unlocksth">Contact Us</a>
      </div>
    </div>
  </body>
</html>
