div.p-1.mb-3
  div#tableButton.d-flex
    block extend-btns

      div.list-header.mr-auto(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis")
        h4 !{page.list.title}

      .btn-group.btn-group-sm(role='group' aria-label='Basic example')
        button#btnExcel.btn.btn-light(type='button', role='button' style="width: 38px")
          span.text-success.fa.fa-file-excel
          //- |  Excel
        button#btnPdf.btn.btn-light(type='button', role='button' style="width: 38px")
          span.text-danger.fa.fa-file-pdf
          //- |  PDF
        button#btnPrint.btn.btn-light(type='button', role='button' style="width: 38px")
          span.text-primary.fa.fa-print
          //- |  Print