div.row.justify-content-center.border-top.pt-3
  a.btn.btn-light.btn-sm.m-1(href=page.list.url, role='button') CANCEL
  button.btn.btn-sm.btn-secondary.m-1(type='submit', role='button')
    span.fa.fa-save 
    | &nbsp; SAVE