form.form-horizontal.p-3.card#entryForm(method='post', action=page.entry.url)
  -var recordForm = data.form || { id: "" };
  -var recordId = data.id || recordForm.id;
  input.form-control.input-sm#record_id(type='hidden', name='id', value=data.id)
  block inputs