extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')
    div.my-3
      h3.h3 Chat Room List

    .row
        each val in  data
            .col-md-3(onclick=`roomDetail(${JSON.stringify(val)})`)
              .card-counter.primary
                i.fa.fa-comments-o !{val.message.length}
                span.count-name !{val.name}
 
  script.
    $(document).ready(function() {
      
    });