extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')
    div.my-3
      h3.h3 Dashboard

    .row
      .col-md-3(onclick="location.href='/customers';")
        .card-counter.primary
          i.fa.fa-users
          span.count-numbers 9999
          span.count-name Customers
      .col-md-3(onclick="location.href='/suppliers';")
        .card-counter.purple
          i.fa.fa-user
          span.count-numbers 99
          span.count-name Suppliers
      .col-md-3(onclick="location.href='/products';")
        .card-counter.success
          i.fa.fa-cube
          span.count-numbers 7500
          span.count-name Products
      .col-md-3(onclick="location.href='/orders';")
        .card-counter.info
          i.fa.fa-clipboard
          span.count-numbers 100
          span.count-name Orders
    div
      .col-lg-12.my-5.text-center
        h2 Charting with Chartjs

      .col-lg-12.my-5
        .panel.panel-default
          .panel-heading
            h3.panel-title Line Chart
          .panel-content.text-center
            canvas#teamChart.chart(height='380')
          .panel-footer A simple Line Chart with basic settings

      .col-lg-12.my-5
        .panel.panel-default
          .panel-heading
            h3.panel-title Doughut Chart
          .panel-content.text-center
            canvas#doughutChart.chart(height='380')
          .panel-footer A sample Doughut Chart with basic settings
  script(src='../layout-js/lib/chart-js/chart.bundle.min.js')
  script(src='../layout-js/lib/chart-js/chart-init.js')
  script.
    $(document).ready(function() {
      $('.count-numbers').each(function () {
        var $this = $(this);
        jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
          duration: 1200,
          easing: 'swing',
          step: function () {
            $this.text(Math.ceil(this.Counter));
          }
        });
      });
      getChartdata(token);
    });